<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="../../../assets/ps-logo.png" alt="playstation logo" width="140px" height="32px">
    </div>

    <div class="menu-bar__item">
        <ul>
            <li><a href="https://github.com/pfrizo"  target="_blank">GITHUB</a></li>
            <li><a href="https://br.linkedin.com/in/pfrizo"  target="_blank">LINKEDIN</a></li>
            <li><a href="https://www.instagram.com/pfrizo_/" target="_blank">INSTAGRAM</a></li>
        </ul>
    </div>
</div>
